@import "./reset";
@import "./display-timer";

.timer {
  display: grid;
  width: 35%;
  justify-items: center;

  &.ui.segment {
    margin: 6rem auto 0;
  }
}

.time-form {
  width: 70%;

  &__field {
    width: 100%;
  }
}
